# dependencies
node_modules/

# next.js build/cache
.next/
out/
.next.static/

# logs
*.log

# env
.env*
!.env.example

# misc
.DS_Store
coverage/
dist/
# playwright & test artifacts
playwright-report/
test-results/
